.side {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 250px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 0px 28px 28px 0px;
    background: #1B4B74;
   position: fixed;
   top: 5px;

}
.new {
    margin: auto;
    width: 50%;
    margin-top: 20px;
    width: 220px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #E7F4FF;
    box-shadow: 0px 2px 7px 0px rgba(17, 17, 36, 0.13);
}
.icon {
    width: 14px; 
    height: 14px;
    margin-right: 20px; 
    position: absolute;
    padding: 20px;
    top: 15px;
    left: 20px;
}
.txt {
    color: #1B4B74;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    line-height:normal;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    margin-left: 25px;
}
.combine {
    margin: auto;
    width: 50%;
    border: 1px solid;
    border-color: #53eaff;
    border-radius: 56px;
    width: 220px;
    height: 30px;
    left: 15px;
    position: absolute;
    top: 120px;
    
}
.icon2{
    width: 14px; 
    height: 14px;
    margin-right: 20px; 
    position: absolute;
    padding: 5px;
    left: 8px;

    
}
.txt-2{
    color: #53eaff;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    line-height:normal;
    line-height: 2.5em;
    margin-left: 45px;
     
    
}
.txt-3{
    color: #9dbbd5;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 95px; 
}
.txt-4{
    color: #9dbbd5;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 55px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 95px;
}

.p1{
    color: #53eaff9e;
    font-family: "Inter", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 30px;
    letter-spacing: 0;
    position: absolute;
    top: 150px;
    width: 192px;
}
.selected {
    margin: auto;
    width: 50%;
    background-color: #0f385b;
    border-radius: 56px;
    width: 220px;
    height: 30px;
    left: 15px;
    position: absolute;
    top: 217px;
    
}
.icon3{
    width: 14px; 
    height: 14px;
    margin-right: 20px; 
    position: absolute;
    padding: 5px;
    left: 4px;
    top: 1px;  
}
.txt-5{
    color: #E7F4FF;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.5em;
    margin-left: 35px; 
    margin-top: -2px;
}
.icon4{
    width: 14px; 
    height: 14px;
    margin-right: 20px; 
    position: absolute;
    top: 4px;
    left: 97px;  
}
.chat2{
    margin: auto;
    width: 50%;
    width: 220px;
    height: 30px;
    left: 15px;
    position: absolute;
    top: 225px; 
}
.icon5{
    width: 14px; 
    height: 14px;
    margin-right: 20px; 
    position: absolute;
    padding: 5px;
    left: 4px;
    top: 31px;
   
}
.txt-6{
    color: #E7F4FF;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    margin-left: 35px; 
    margin-top: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 35px;
    
}
.icon6{
    width: 14px; 
    height: 14px;
    margin-right: 20px; 
    position: absolute;
    padding: 5px;
    left: 4px;
    top: 16px;  
}
.txt-7{
    color: #E7F4FF;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    margin-left: 35px; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}
.newq{
    margin: auto;
    width: 50%;
    border: 1px solid;
    border-color: #9dbbd5 ;
    border-radius: 56px;
    width: 220px;
    height: 30px;
    left: 15px;
    position: absolute;
    top: 330px;
}
.icon1{
    width: 14px; 
    height: 14px;
    left: 6px;
    position: absolute;
    top: 4px;
}
.txt-8{
    color: #9dbbd5 ;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    margin-left: 35px; 
    margin-top: 7px; 
}
.txt-9{
    color: #9dbbd5;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 400px; 
}
.txt-10{
    color: #9dbbd5;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 75px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 400px;
}
.icon7{
    width: 50px; 
    height: 50px;
    margin-right: 20px; 
    position: absolute;
    top: 192px;
    left: 85px;  
}
.icon8{
    width: 14px; 
    height: 14px;
    margin-right: 20px; 
    position: absolute;
    padding: 5px;
    left: 5.5px;
    top: 244px;
}
.txt-11{
    color: #E7F4FF;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    margin-left: 35px; 
    margin-top: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 380px;  
}
.icon9{
    width: 14px; 
    height: 14px;
    margin-right: 20px; 
    position: absolute;
    padding: 5px;
    left: 5.5px;
    top: 218px;
}
.txt-12{
    color: #E7F4FF;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    margin-left: 35px; 
    margin-top: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 35px;  
}
.line{
    width: 240px; 
    height: 1px;
    margin-top: 0px;
    justify-items: center; 
}

.logo{
    width: 39.12px; 
    height: 43.12px;
    margin-left: 20px; 
    position: absolute;
    top: 271px;
    right: 100px;     
}
.logo2{
    width: 18px; 
    height: 18px;
    margin-left: 10px; 
    position: absolute;
    top: 278px;
    right: 93px;  
}
.txt-13{
    color: #E7F4FF;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    margin-left: 80px; 
    margin-top: 50px;
      
}
.line2{
    width: 240px; 
    height: 1px;
    margin-top: -4px;
    justify-items: center;
}
.ellipse{
    width: 41px; 
    height: 41px;
    margin-left: 20px; 
    position: absolute;
    top: 300px;
    right: 100px; 
}
.txt-14{
    color: #E7F4FF;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    margin-left: 60px; 
    margin-top: 40px;
}
.ellipsis {
    display: flex;
}

.ellipsis span {
    width: 8px; 
    height: 8px; 
    background-color: #E7F4FF; 
    border-radius: 50%; 
    margin: 0 1px; 
    padding-left: 5px;
    top: 30px;
}
/*.side2{
    color: #E7F4FF;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 250px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 0px 28px 28px 0px;
}
.text-1{
    color: #618aae;
    font-family: "Inter", Helvetica;
    font-size: 9px;
    font-weight: 400;
    left: 1507px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 187px;
    width: 60px;
}*/

